body {
  font-family: 'Open Sans', sans-serif;
}

.breadcrumb-item {
  font-size: 0.8em !important;
}
.ellipsis{
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-table {
  table-layout: fixed;
}
.board-table .numId, /* 1 */
.board-table .views{
  width: 60px;
  text-align: center;
}

.board-table .author,
.board-table .date {
  width: 100px;
  text-align: center;
}
.board-table .title-container:hover,
.board-table .title-container:hover .title-text
.board-table .title-container:hover .title-attachment
{
  text-decoration: underline;
}
.board-table .cate {
  width: 70px;
}

.post-body,
.comment-text{
  white-space: pre-line; /* 2 */
}
.post-info{
  font-size: 0.8em;
}

.select {
  padding: 10px 0px;
}
.select input[type=radio]{
  display: none;
}
.select input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  height: 24px;
  width: 90px;
  border: 1px solid #333;
  line-height: 24px;
  text-align: center;
  font-weight:bold;
  font-size:13px;
}
.select input[type=radio]+label{
  background-color: #fff;
  color: #333;
}
.select input[type=radio]:checked+label{
  background-color: #333;
  color: #fff;
}

.category {
  padding-right: 10px;
}
.bun{
  padding-top: 8px;
  padding-bottom: 10px;
}
.bunr {
  background-color: #333;
  color: #fff;
  padding: 4px 10px;
  border-radius: 5px 5px 5px 5px;
}

.user-form {
  width: 400px;
}

.wrong {
  color: rgb(204, 28, 28);
}

.mybody {
  margin-top: 30px;
}

.post-index-tool {
  max-width: 450px;
}
.post-index-tool input[type='text']{
  max-width: 130px;
}

.highlighted {
  background-color: yellow;
}

.comment-edit,
.comment-edit-enabled .comment-show {
  display:none;
}

.comment-edit-enabled .comment-edit {
  display:inherit;
}

.title-comments {
  padding-left: .0rem!important;
}
.title-attachment {
  padding-left: .2rem!important;
}