<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="jumbotron">
        <h1>독서 게시판 만들기</h1>
        <P>Jeong-ki's board</P>
      </div>
    </div>
  </body>
</html>
