<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-2 pr-2">
          <li class="breadcrumb-item"><a href="/">홈</a></li>
          <li class="breadcrumb-item"><a href="/posts">게시판</a></li>
          <li class="breadcrumb-item active" aria-current="page">글쓰기</li>
        </ol>
      </nav>

      <form action="/posts<%= getPostQueryString() %>" enctype="multipart/form-data" method="post">

        <div class="select">
          <label class="category" for="title">카테고리</label>
          <input type="radio" id="select" name="category" value="문학"><label for="select">문학</label>
          <input type="radio" id="select2" name="category" value="비문학"><label for="select2">비문학</label>
          <input type="radio" id="select3" name="category" value="질문"><label for="select3">질문</label>
          <input type="radio" id="select4" name="category" value="인증"><label for="select4">인증</label>
          <input type="radio" id="select6" name="category" value="기타"><label for="select6">기타</label>
        </div>

        <div class="form-group">
          <label for="title">제목</label>
          <input type="text" id="title" name="title" value="" class="form-control">
        </div>
        
        <div class="form-group">
          <label for="attachment">파일첨부</label>
          <input type="file" name="files" class="form-control-file" id="attachment" multiple>
        </div> 

        <div class="form-group">
          <label for="body">내용</label>
          <textarea id="body" name="description" rows="5" class="form-control"></textarea>
        </div>

        <div>
          <a class="btn btn-primary" href="/posts<%= getPostQueryString() %>">취소</a>
          <button type="submit" class="btn btn-primary">등록하기</button>
        </div>

      </form>

    </div>
  </body>
</html>